basePath: /api
definitions:
  api.CreatClosingDocumentsRequest:
    properties:
      clientID:
        type: string
      dateFrom:
        type: string
      dateTo:
        type: string
    type: object
  api.CreateOfertaRequest:
    properties:
      clientId:
        type: string
      clientName:
        type: string
      oneCguid:
        type: string
    type: object
  api.CreateOfertaResponse:
    properties:
      message:
        type: string
    type: object
  api.DocumentsByClientIDRequest:
    properties:
      clientId:
        type: string
      clientName:
        type: string
      createdAt:
        type: string
      docType:
        type: string
      id:
        type: string
      name:
        type: string
      oneCGuid:
        type: string
      signedAt:
        type: string
      status:
        type: string
      sum:
        type: number
      url:
        type: string
    type: object
  api.GetDocumentsListResponse:
    properties:
      documents:
        items:
          $ref: '#/definitions/entity.Document'
        type: array
      totalDocuments:
        type: integer
    type: object
  api.ResponseError:
    properties:
      error:
        type: string
      message:
        type: string
    type: object
  api.SignOfertaRequest:
    properties:
      clientID:
        type: string
    type: object
  api.SignOfertaResponse:
    properties:
      message:
        type: string
    type: object
  entity.ActInfo:
    properties:
      actDate:
        type: string
      actNumber:
        type: string
    type: object
  entity.ClosingDocuments:
    properties:
      data:
        items:
          $ref: '#/definitions/entity.ClosingDocumentsData'
        type: array
      guid:
        type: string
      url:
        type: string
    type: object
  entity.ClosingDocumentsData:
    properties:
      actInfo:
        $ref: '#/definitions/entity.ActInfo'
      invoiceInfo:
        $ref: '#/definitions/entity.InvoiceInfo'
      occassion:
        type: string
      servicesList:
        items:
          $ref: '#/definitions/entity.ServicesList'
        type: array
    type: object
  entity.DocStatus:
    enum:
    - created
    - signed
    type: string
    x-enum-varnames:
    - DocStatusCreated
    - DocStatusSigned
  entity.DocType:
    enum:
    - oferta
    - upd
    type: string
    x-enum-varnames:
    - DocTypeOferta
    - DocTypeUPD
  entity.Document:
    properties:
      clientID:
        type: string
      clientName:
        type: string
      createdAt:
        type: string
      data:
        $ref: '#/definitions/entity.ClosingDocumentsData'
      docType:
        $ref: '#/definitions/entity.DocType'
      id:
        type: string
      name:
        type: string
      oneCGuid:
        type: string
      signedAt:
        type: string
      status:
        $ref: '#/definitions/entity.DocStatus'
      sum:
        type: number
      url:
        type: string
    type: object
  entity.InvoiceInfo:
    properties:
      invoiceDate:
        type: string
      invoiceNumber:
        type: string
    type: object
  entity.ServicesList:
    properties:
      amount:
        type: string
      name:
        type: string
      taxAmount:
        type: number
      taxRate:
        type: string
      totalAmount:
        type: number
      unitPrice:
        type: number
      units:
        type: string
    type: object
info:
  contact: {}
  description: This is an API for client management.
  title: Documents API
  version: "1.0"
paths:
  /documents:
    get:
      consumes:
      - application/json
      description: Возвращает документ по ID клиента
      parameters:
      - description: ID клиента
        in: query
        name: clientId
        required: true
        type: string
      - description: Authorization:{accessToken}
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.DocumentsByClientIDRequest'
        "400":
          description: Некорректные параметры запроса
          schema:
            $ref: '#/definitions/api.ResponseError'
        "403":
          description: Недостаточно прав
          schema:
            $ref: '#/definitions/api.ResponseError'
        "404":
          description: Документа для данного клиента не существует
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      security:
      - ApiKeyAuth: []
      summary: Документ
      tags:
      - documents
  /documents/details:
    get:
      consumes:
      - application/json
      description: Возвращает детали документа
      parameters:
      - description: ID документа
        in: query
        name: id
        required: true
        type: string
      - description: Authorization:{accessToken}
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Document'
        "400":
          description: Некорректные параметры запроса
          schema:
            $ref: '#/definitions/api.ResponseError'
        "404":
          description: Документа c таким ID не существует
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      security:
      - ApiKeyAuth: []
      summary: Детали документа
      tags:
      - documents
  /documents/download:
    get:
      consumes:
      - application/json
      description: Скачивает документ с указанным ID
      parameters:
      - description: ID документа
        in: query
        name: id
        required: true
        type: string
      - description: Authorization:{accessToken}
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/pdf
      responses:
        "200":
          description: PDF документ
          schema:
            type: file
        "400":
          description: Некорректный запрос
          schema:
            $ref: '#/definitions/api.ResponseError'
        "404":
          description: Документа c таким ID не существует
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      security:
      - ApiKeyAuth: []
      summary: Скачивание документа
      tags:
      - documents
  /documents/list:
    get:
      consumes:
      - application/json
      description: Возвращает список документов для клиента
      parameters:
      - description: ID клиента
        in: query
        name: clientId
        required: true
        type: string
      - description: Лимит документов
        in: query
        name: limit
        type: string
      - description: Номер страницы
        in: query
        name: page
        type: string
      - description: Сортировка документов
        enum:
        - name
        - doc_type
        - created_at
        in: query
        name: sortBy
        required: true
        type: string
      - description: Направление сортировки, ASC или DESC
        enum:
        - asc
        - desc
        in: query
        name: orderBy
        required: true
        type: string
      - description: Authorization:{accessToken}
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.GetDocumentsListResponse'
        "400":
          description: Некорректные параметры запроса
          schema:
            $ref: '#/definitions/api.ResponseError'
        "403":
          description: Недостаточно прав
          schema:
            $ref: '#/definitions/api.ResponseError'
        "404":
          description: Документов для этого клиента не существует
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      security:
      - ApiKeyAuth: []
      summary: Список документов
      tags:
      - documents
  /getDocuments:
    post:
      consumes:
      - application/json
      description: Создает закрывающие документы за указанный период для клиента
      parameters:
      - description: Параметры закрывающих документов
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.CreatClosingDocumentsRequest'
      - description: Authorization:{accessToken}
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Закрывающие документы успешно созданы
          schema:
            type: string
        "400":
          description: Некорректный запрос
          schema:
            $ref: '#/definitions/api.ResponseError'
        "404":
          description: Данных не найдено
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      security:
      - ApiKeyAuth: []
      summary: Создание закрывающих документов
      tags:
      - documents
  /health:
    get:
      description: Возвращает статус работы сервиса
      responses:
        "200":
          description: Сервис работает!
          schema:
            type: string
        "500":
          description: Сервис не работает
          schema:
            $ref: '#/definitions/api.ResponseError'
      summary: Проверка состояния сервиса
      tags:
      - health
  /oferta:
    post:
      consumes:
      - application/json
      description: Создает новую оферту для клиента
      parameters:
      - description: Параметры оферты
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.CreateOfertaRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Оферта успешно создана
          schema:
            $ref: '#/definitions/api.CreateOfertaResponse'
        "400":
          description: Некорректный запрос
          schema:
            $ref: '#/definitions/api.ResponseError'
        "403":
          description: Недостаточно прав
          schema:
            $ref: '#/definitions/api.ResponseError'
        "409":
          description: Оферта уже существует
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      summary: Создание оферты
      tags:
      - oferta
  /oferta/sign:
    put:
      consumes:
      - application/json
      description: Изменяет статус оферты на подписанный
      parameters:
      - description: Параметры для подписи оферты
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.SignOfertaRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Статус оферты успешно изменен
          schema:
            $ref: '#/definitions/api.SignOfertaResponse'
        "400":
          description: Некорректный запрос
          schema:
            $ref: '#/definitions/api.ResponseError'
        "403":
          description: Недостаточно прав
          schema:
            $ref: '#/definitions/api.ResponseError'
        "404":
          description: Оферта не найдена
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      summary: Подписание оферты
      tags:
      - oferta
  /private/act/callback:
    post:
      consumes:
      - application/json
      description: Обрабатывает коллбэк с данными закрывающих документов
      parameters:
      - description: Данные закрывающих документов
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/entity.ClosingDocuments'
      - description: Authorization:{accessToken}
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Документы успешно обработаны
          schema:
            type: string
        "400":
          description: Некорректный запрос
          schema:
            $ref: '#/definitions/api.ResponseError'
        "500":
          description: Ошибка сервера
          schema:
            $ref: '#/definitions/api.ResponseError'
      security:
      - ApiKeyAuth: []
      summary: Обработка закрывающих документов
      tags:
      - documents
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
